<li [ngClass]="{'list-group-item w-100': true,
              'list-group-item-success': !eteint(),
              'list-group-item-danger': eteint()}">
    <h4 [ngStyle]="{color: getColor()}">Appareil: {{ appareilName }} -- Statut : {{ getStatus() }}</h4>
    <a [routerLink]="[ id ]">Détails</a>
    <button class="btn btn-sm btn-success"
            (click)="onSwitch()"
            [disabled]="!eteint()">Allumer</button>
    <button class="btn btn-sm btn-danger"
            (click)="onSwitch()"
            [disabled]="eteint()">Éteindre</button>
</li>