<div class="row">
  <div class="w-100 d-flex flex-column justify-content-between">
    <h2 class="text-center">Vos livres</h2>
    <div class="list-group">
      <button class="list-group-item"
              *ngFor="let book of books; let i = index"
              (click)="onViewBook(i)">
        <h3 class="list-group-item-heading">
          {{ book.title }}
          <button class="btn btn-danger pull-right"
                  (click)="onDeleteBook(book)">
            <span class="glyphicon glyphicon-minus"></span>
            Supprimer ce livre
          </button>
        </h3>
        <p class="list-group-item-text">{{ book.author }}</p>
      </button>
    </div>
    <button class="btn btn-info" (click)="onNewBook()">Ajouter un livre</button>
  </div>
</div>